header {
  width: 100%;
  height: 10%;
  background-color: #dd1c59; }
  header h1 {
    margin-top: 0; }
  header a {
    text-decoration: none; }
  header #header-shape {
    background-color: #b20c41;
    padding-left: 2%;
    padding-top: 1%;
    border: 2px groove #5b162c;
    width: fit-content;
    height: auto;
    border-radius: 15px 100px 15px 100px; }
    header #header-shape .header-title {
      display: block;
      font-weight: normal;
      font-style: normal;
      color: white;
      text-align: left;
      padding-right: 15%;
      font-family: 'Gloria Hallelujah', cursive, "Times New Roman";
      font-size: 2em; }

