html {
  min-width: 360px; }

body {
  background-color: white; }

header {
  position: fixed;
  display: block;
  width: 100%;
  height: fit-content;
  max-height: 70px;
  background: linear-gradient(to top left, #050500 0%, #a3a310 35%, #c9c90c 65%, #c4c400 75%, #ffff02 100%); }
  header h1 {
    margin-top: 0; }
  header a {
    text-decoration: none; }
  header #header-shape {
    float: left;
    background-color: #020200;
    padding-left: 2%;
    padding-top: 0.5%;
    border: 2px groove white;
    width: fit-content;
    border-radius: 15px 100px 15px 100px; }
    header #header-shape .header-title {
      display: block;
      font-weight: normal;
      font-style: normal;
      color: white;
      text-align: left;
      padding-right: 15%;
      font-family: 'Gloria Hallelujah', cursive, "Times New Roman";
      font-size: 2em; }
  header #right-header-container {
    float: right;
    min-height: 60px; }
    header #right-header-container #contacts-jump {
      font-size: 1.3em;
      font-family: 'Orbitron', sans-serif;
      float: right;
      text-align: center;
      padding-top: 20px;
      min-height: 60px; }
      header #right-header-container #contacts-jump a {
        color: white; }
      header #right-header-container #contacts-jump a:hover {
        text-decoration: none; }
    header #right-header-container .cart {
      float: right; }
      header #right-header-container .cart :hover {
        cursor: pointer; }
      header #right-header-container .cart img {
        height: 63px;
        width: 63px; }

@media only screen and (min-width: 768px) {
  #header-shape {
    min-width: 178px; } }

.main-content {
  width: 100%;
  min-width: 387px;
  display: flex;
  background-color: #ffedbc;
  min-height: 500px; }

#categories {
  margin: 80px 10px 10px 10px;
  min-width: 300px;
  width: 18rem;
  border-radius: 5px;
  background-color: #7a7a7a;
  height: fit-content; }

#categories-title {
  border: 1px solid white;
  background: linear-gradient(to bottom, #4f4f07 0%, #b5b505 35%, #e0e004 100%);
  padding: 6px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
  margin-top: 8px;
  text-align: center; }
  #categories-title span {
    color: black;
    text-transform: uppercase;
    font-size: 1.5em; }

#categories-list {
  margin-bottom: 20px; }
  #categories-list ul {
    padding-left: 25px;
    padding-right: 25px; }
    #categories-list ul .category-item {
      text-align: center;
      list-style: none;
      margin: 5px auto;
      color: white;
      font-size: 1.5em; }
    #categories-list ul .current {
      background-color: black;
      color: white;
      border-radius: 5px; }
    #categories-list ul li:hover {
      cursor: pointer; }

#goods-content {
  width: auto;
  min-width: 450px;
  background-color: white; }
  #goods-content #goods-content-header {
    font-size: 1.9em;
    font-weight: bold;
    border-bottom: 1px solid black;
    text-align: center;
    margin-top: 80px;
    font-family: Gloria, cursive; }
  #goods-content #goods-container {
    margin-top: 15px;
    float: left; }
  #goods-content .goods-img {
    max-width: 100%;
    height: 200px;
    object-fit: contain;
    margin: auto;
    vertical-align: middle; }
    #goods-content .goods-img img {
      object-fit: contain; }
  #goods-content .goods-list {
    display: inline-block;
    width: 30%;
    margin: 0 1% 5% 1%;
    text-align: center;
    min-width: 160px; }
  #goods-content .add-to-cart {
    background-color: #d8c834;
    color: black;
    border: 2px solid black;
    border-radius: 3px; }
  #goods-content button:hover {
    background-color: #f7df02;
    cursor: pointer; }
  #goods-content button:focus {
    outline: 0; }

button:hover {
  opacity: 0.8; }

.old-price {
  text-decoration: line-through;
  font-size: 0.9em;
  margin-right: 5px;
  color: red;
  display: block; }

.price {
  font-size: 1.5em;
  display: block;
  margin-top: 5px; }

.new-price {
  font-size: 1.2em;
  display: block; }

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  opacity: 0.98;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

#header {
  transition: margin-left .5s; }

.cart-content {
  color: white;
  text-align: center; }

.cart-items {
  padding-right: 12px;
  color: white;
  height: 66px;
  margin: 10px auto 10px 15px;
  line-height: 1.2em;
  font-weight: bold;
  text-align: center;
  display: block; }
  .cart-items .cart-name {
    float: left;
    padding-left: 10px;
    max-width: 180px; }

.cross-img {
  width: 20px;
  height: 20px;
  float: left;
  vertical-align: center;
  cursor: pointer; }

.cart-item-quantity {
  float: right; }
  .cart-item-quantity .plus {
    float: left;
    padding-right: 3px; }
  .cart-item-quantity .minus {
    float: right;
    padding-left: 3px; }

.operations-img {
  width: 20px;
  height: 20px;
  cursor: pointer; }

.cart-item-cost-buy {
  text-align: center;
  padding-top: 50px;
  margin-top: 5px;
  height: 100px; }
  .cart-item-cost-buy .cart-item-cost {
    display: block; }
  .cart-item-cost-buy .cart-btn {
    width: 100px;
    height: auto;
    align-items: center;
    margin-top: 5px;
    padding: 10px auto;
    font-size: 1.2em;
    color: yellow;
    border: 1px solid white;
    background-color: black; }

.show-good-info {
  text-decoration: underline;
  cursor: pointer; }

/* Extra styles for the cancel button */
.cancel-prev-btn {
  width: auto;
  padding: 10px 22px;
  font-size: 1.3em;
  background-color: #f44336; }

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 24px 0;
  position: relative; }

img.avatar {
  width: 80%; }

.container {
  padding: 16px;
  background-color: #f2ff42; }

.preview-goods-name {
  font-weight: bold;
  font-size: 1.2em;
  width: 100%;
  text-align: center; }

.preview-price-header {
  text-transform: uppercase;
  margin: 5px 10px;
  font-weight: bold;
  font-family: cursive;
  font-size: 1.4em; }

.medium {
  font-size: 1.1em; }

.larger {
  font-size: 1.4em; }

.preview-description {
  padding: 0 2% 1% 1.7%;
  line-height: 1.1em;
  text-align: justify; }

.preview-price-container {
  text-align: center; }

.cancel-prev-btn {
  float: left; }

.add-button {
  float: right;
  background-color: khaki;
  padding: 10px 18px; }

.button-container {
  font-size: 120%;
  min-height: 60px;
  vertical-align: center; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px; }

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  border-radius: 15px;
  min-width: 350px;
  width: 80%;
  /* Could be more or less, depending on screen size */ }

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: red;
  cursor: pointer; }

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s; }

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0); }
  to {
    -webkit-transform: scale(1); } }

@keyframes animatezoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn {
    width: 50px; } }

.order-title {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
  font-family: cursive; }

.order-item {
  font-weight: bold;
  text-decoration: underline; }

.bordered {
  border: 1px solid black; }

.form-user-name {
  font-family: cursive; }

.inputs {
  padding: 5px; }

.form-position {
  position: relative;
  left: 2%; }
  .form-position p {
    font-family: cursive; }

.form-input-container {
  background-color: #d3db76;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding-bottom: 10px; }

.total-price {
  text-align: center;
  font-family: cursive;
  font-weight: bold;
  color: #dd563e;
  font-size: 1.2em; }

.order-last {
  height: 50px; }

.send-button {
  padding: 10px 22px;
  border: 2px solid black;
  font-size: 1.3em;
  float: right; }

