html {
  min-width: 360px; }

body {
  background-color: white; }

header {
  position: fixed;
  display: block;
  width: 100%;
  height: fit-content;
  max-height: 70px;
  background: linear-gradient(to top left, #050500 0%, #a3a310 35%, #c9c90c 65%, #c4c400 75%, #ffff02 100%); }
  header h1 {
    margin-top: 0; }
  header a {
    text-decoration: none; }
  header #header-shape {
    float: left;
    background-color: #020200;
    padding-left: 2%;
    padding-top: 0.5%;
    border: 2px groove white;
    width: fit-content;
    border-radius: 15px 100px 15px 100px; }
    header #header-shape .header-title {
      display: block;
      font-weight: normal;
      font-style: normal;
      color: white;
      text-align: left;
      padding-right: 15%;
      font-family: 'Gloria Hallelujah', cursive, "Times New Roman";
      font-size: 2em; }
  header #right-header-container {
    float: right;
    min-height: 60px; }
    header #right-header-container #contacts-jump {
      font-size: 1.3em;
      font-family: 'Orbitron', sans-serif;
      float: right;
      text-align: center;
      padding-top: 20px;
      min-height: 60px; }
      header #right-header-container #contacts-jump a {
        color: white; }
      header #right-header-container #contacts-jump a:hover {
        text-decoration: none; }
    header #right-header-container #cart {
      float: right; }
      header #right-header-container #cart img {
        height: 63px;
        width: 63px; }

@media only screen and (min-width: 768px) {
  #header-shape {
    min-width: 178px; } }

.main-content {
  width: 100%;
  min-width: 387px;
  display: flex;
  background-color: #ffedbc;
  height: 1000px; }

#categories {
  margin: 80px 10px 10px 10px;
  min-width: 300px;
  width: 18rem;
  border-radius: 5px;
  background-color: #7a7a7a;
  height: fit-content; }

#categories-title {
  border: 1px solid white;
  background: linear-gradient(to bottom, #4f4f07 0%, #b5b505 35%, #e0e004 100%);
  padding: 6px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
  margin-top: 8px;
  text-align: center; }
  #categories-title span {
    color: black;
    text-transform: uppercase;
    font-size: 1.5em; }

#categories-list {
  margin-bottom: 20px; }
  #categories-list ul {
    padding-left: 25px;
    padding-right: 25px; }
    #categories-list ul .category-item {
      text-align: center;
      list-style: none;
      margin: 5px auto;
      color: white;
      font-size: 1.5em; }
    #categories-list ul .current {
      background-color: black;
      color: white; }
    #categories-list ul li:hover {
      cursor: pointer; }

#goods-content {
  width: auto;
  min-width: 400px;
  background-color: white; }
  #goods-content #goods-content-header {
    font-size: 1.9em;
    font-weight: bold;
    border-bottom: 1px solid black;
    text-align: center;
    margin-top: 80px; }
  #goods-content .goods-img {
    /*
    line-height: 250px;
    vertical-align: middle;
    margin: 10px;
    height: 290px;
    */ }
    #goods-content .goods-img img {
      /*vertical-align: middle;
      margin: auto;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    */ }
  #goods-content .goods-list {
    /*
    display: flex;
    height: 400px;
    width: 250px;
    padding-bottom: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 27px;
    float: left;
    overflow: hidden;
    text-align: center;*/ }

