html {
  min-width: 360px; }

body {
  background-color: white; }

header {
  position: fixed;
  display: block;
  width: 100%;
  height: fit-content;
  max-height: 70px;
  background: linear-gradient(to top left, #050500 0%, #a3a310 35%, #c9c90c 65%, #c4c400 75%, #ffff02 100%); }
  header h1 {
    margin-top: 0; }
  header a {
    text-decoration: none; }
  header #header-shape {
    float: left;
    background-color: #020200;
    padding-left: 2%;
    padding-top: 0.5%;
    border: 2px groove white;
    width: fit-content;
    border-radius: 15px 100px 15px 100px; }
    header #header-shape .header-title {
      display: block;
      font-weight: normal;
      font-style: normal;
      color: white;
      text-align: left;
      padding-right: 15%;
      font-family: 'Gloria Hallelujah', cursive, "Times New Roman";
      font-size: 2em; }
  header #right-header-container {
    float: right;
    min-height: 60px; }
    header #right-header-container #contacts-jump {
      font-size: 1.3em;
      font-family: 'Orbitron', sans-serif;
      float: right;
      text-align: center;
      padding-top: 20px;
      min-height: 60px; }
      header #right-header-container #contacts-jump a {
        color: white; }
      header #right-header-container #contacts-jump a:hover {
        text-decoration: none; }
    header #right-header-container .cart {
      float: right; }
      header #right-header-container .cart :hover {
        cursor: pointer; }
      header #right-header-container .cart img {
        height: 63px;
        width: 63px; }

@media only screen and (min-width: 768px) {
  #header-shape {
    min-width: 178px; } }

.main-content {
  width: 100%;
  min-width: 387px;
  display: flex;
  background-color: #ffedbc;
  height: 1000px; }

#categories {
  margin: 80px 10px 10px 10px;
  min-width: 300px;
  width: 18rem;
  border-radius: 5px;
  background-color: #7a7a7a;
  height: fit-content; }

#categories-title {
  border: 1px solid white;
  background: linear-gradient(to bottom, #4f4f07 0%, #b5b505 35%, #e0e004 100%);
  padding: 6px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
  margin-top: 8px;
  text-align: center; }
  #categories-title span {
    color: black;
    text-transform: uppercase;
    font-size: 1.5em; }

#categories-list {
  margin-bottom: 20px; }
  #categories-list ul {
    padding-left: 25px;
    padding-right: 25px; }
    #categories-list ul .category-item {
      text-align: center;
      list-style: none;
      margin: 5px auto;
      color: white;
      font-size: 1.5em; }
    #categories-list ul .current {
      background-color: black;
      color: white; }
    #categories-list ul li:hover {
      cursor: pointer; }

#goods-content {
  width: auto;
  min-width: 400px;
  background-color: white; }
  #goods-content #goods-content-header {
    font-size: 1.9em;
    font-weight: bold;
    border-bottom: 1px solid black;
    text-align: center;
    margin-top: 80px; }
  #goods-content #goods-container {
    margin-top: 15px;
    float: left; }
  #goods-content .goods-img {
    max-width: 100%;
    height: 200px;
    object-fit: contain;
    margin: auto;
    vertical-align: middle; }
    #goods-content .goods-img img {
      object-fit: contain; }
  #goods-content .goods-list {
    margin: 10px;
    display: inline-block;
    width: 30%;
    margin: 0 1%;
    text-align: center;
    min-width: 160px; }
  #goods-content .special-price {
    text-decoration: line-through;
    font-size: 0.9em;
    margin-right: 5px;
    color: red;
    display: block; }
  #goods-content .price {
    font-size: 1.5em;
    display: block; }

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.sidebar a:hover {
  color: #f1f1f1; }

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

#header {
  transition: margin-left .5s; }

.cart-content {
  color: white; }

.cart-items {
  color: white;
  margin: 10px auto 10px 15px;
  line-height: 1.5em;
  font-weight: bold;
  text-align: center;
  display: block;
  height: 11%; }

