html{
  min-width: 360px;
}
header {
  position: fixed;
  display: block;
  width : 100%;
  height : fit-content;
  max-height: 70px;
  background: linear-gradient(to top left, #560112 0%, #a80d2c 43%, #e86882 100%);

  h1 {
    margin-top: 0;
  }
  a{
    text-decoration: none;
  }

  #header-shape {
    float: left;
    background-color: #b20c41;
    padding-left: 2%;
    padding-top: 0.5%;
    border: 2px groove #5b162c;
    width: fit-content;
    border-radius: 15px 100px 15px 100px;

    .header-title {
      display: block;
      font-weight: normal;
      font-style: normal;
      color: white;
      text-align: left;
      padding-right: 15%;
      font-family: 'Gloria Hallelujah', cursive, "Times New Roman";
      font-size: 2em;
    }
  }
  #right-header-container {
    float: right;
    min-height: 60px;
    #contacts-jump {
      font-size: 1.3em;
      font-family: 'Orbitron', sans-serif;
      float: right;
      text-align: center;
      padding-top: 20px;
      min-height: 60px;
      a{
        color: white;
      }
      a:hover {
        text-decoration: none;
      }
    }
    #cart {
      float: right;
      img {
        height: 63px;
        width: 63px;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  #header-shape{
    min-width: 178px;
  }
}
.main-content{
  width:100%;
  min-width: 387px;
  display: flex;
  background-color: #ffedbc;
  height: 1000px;           //////////////////////////////////////////////////////UBRAT'
}
#categories{
  margin: 80px 10px 10px 10px;
  max-width: 420px;
  width: 18rem;
  border-radius: 5px;
  //border: 1px solid black;
  background: linear-gradient(to bottom, #8c021e 0%, #c4173a 53%, #e86882 100%);
  height: fit-content;
}
#categories-title{
  background: linear-gradient(to top, #680216 0%, #e2022e 82%, #680216 100%);
  padding: 6px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
  margin-top: 8px;
  text-align: center;
  span{
    color: white;
    text-transform: uppercase;
    font-size: 1.5em;
  }
}
#categories-list {
  margin-bottom: 20px;

  ul {
    padding-left: 25px;
    padding-right: 25px;

    .category-item {
      text-align: center;
      list-style: none;
      margin: 5px auto;
      color: white;
      font-size: 1.5em;
    }
    .current{
      background-color: black;
      color:white;
    }
    li:hover {
      cursor: pointer;
      //color: yellow;/////////////////////////////////////////PIDIBRATI COLIR////////////////////
    }
  }
}

#goods-content{
  width:auto;
  min-width: 400px;
  background-color: #5b162c;

  #goods-content-header{
    text-align: center;
    margin-top: 80px;
  }

  .goods-list img{
    height: 290px;
    width: auto;
  }
}